/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA
*/


body{
 margin: 0;
	padding: 0;
	

}

a{
	text-decoration: none;
}



/* RODAPÉ */
	.rodapeBlog{
		font-family: 'Montserrat', sans-serif;
		background: #2d2d2d;
		padding-top: 90px;
		padding-bottom: 50px;
	}
		.rodapeBlog .container{
		}
		.rodapeBlog .areaLogo{

		}
			.rodapeBlog .areaLogo .logo{
			}
				.rodapeBlog .areaLogo .logo img{
					max-width: 135px;
					margin: 0 auto;
					display: block;
				}

			.rodapeBlog .areaLogo .descricao{
				max-width: 200px;
				margin: 20px auto;
			}

				.rodapeBlog .areaLogo .descricao p{
					text-align: center;
					color: #fff;
				}

					.rodapeBlog .areaLogo .descricao p strong{

					}

			.rodapeBlog .areaLogo .redesSociais{
				text-align: center;
				background: url(../img/brushstroke.png);
				height: 80px;
				padding-top: 17px;
				max-width: 235px;
				margin: 0 auto;
				background-size: cover!important;
			}
				.rodapeBlog .areaLogo .redesSociais a{
					text-decoration: none;	
				}
					.rodapeBlog .areaLogo .redesSociais a .icone1{
						display: inline-block;
						background: #fff;
						width: 35px;
						height: 35px;
						border-radius: 100%;
						text-align: center;
						font-size: 25px;
						margin: 0 4px;
						color: #2d2d2d;	
				    }
						.rodapeBlog .areaLogo .redesSociais a .icone1 i{
											
					    }
						
		.rodapeBlog .menuRodape{

		}
			.rodapeBlog .menuRodape .nav{

			}
				.rodapeBlog .menuRodape .nav> a{
					
				}
				.rodapeBlog .menuRodape .nav strong{
					color: #fff;
					font-weight: 600;
					display: block;
					text-align: left;
					margin-bottom: 5px;

				}
				.rodapeBlog .menuRodape .nav ul{
					list-style: none;
					padding: 0;
					text-align: left;
				}
					.rodapeBlog .menuRodape .nav ul li{
							position: relative;

					}
					.rodapeBlog .menuRodape .nav ul li.hoverHorarios{
						max-width: 300px;

					}
						.rodapeBlog .menuRodape .nav ul li .horarios{
							background: #fff;
							max-width: 230px;
							text-align: center;
							padding: 10px;
							border: solid #87c0c8 3px;
							padding: 10px;
							position: absolute;
							z-index: 99999;
							top: 0px;
							display: none;
							right: 25px;
						   
						}
								.rodapeBlog .menuRodape .nav ul li.hoverHorarios:hover .horarios{
									display: block;
								}
							.rodapeBlog .menuRodape .nav ul li .horarios strong{
								color: #2d2d2d;
								text-align: center;
								font-size: 13px;
								font-weight: 800;
								position: relative;
								max-width: 121px;
								margin: 0 auto;
							}
									.rodapeBlog .menuRodape .nav ul li .horarios strong:before{
										content: '.';
										display: block;
										font-size: 17px;
										color: #87c0c8;
										left: 0;
										position:absolute;
										bottom: 0px;
									}
									.rodapeBlog .menuRodape .nav ul li .horarios strong:after{
										content: '.';
										display: block;
										font-size: 17px;
										color: #87c0c8;
										right: 0;
										position:absolute;
										bottom: 0px;
									}
							.rodapeBlog .menuRodape .nav ul li .horarios span{
								font-size: 11px;
								font-weight: 600;
								color: #2d2d2d;
								display: block;
							}
						.rodapeBlog .menuRodape .nav ul li a{
							color: #fff;
							font-size: 12px;	
							border: solid 2px transparent;
							text-decoration: none;
						}
							.rodapeBlog .menuRodape .nav ul li a:hover{
								color: #fff;
								font-size: 12px;
								border: solid 2px #87c0c8;
								padding: 2px;	
							}
							.rodapeBlog .menuRodape .nav ul li a .svg-inline--fa{
								color: #87c0c8;
								margin-right: 5px;
							}

/* COPYRIGHT */
	.copyrightBlog{
		font-family: 'Montserrat', sans-serif;
		position: relative;
		background: #2d2d2d;
		padding: 20px 0;
	}
		.copyrightBlog:before{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

		}
		.copyrightBlog p{
			text-align: center;
			max-width: 273px;
			margin: 0 auto;
			color: #fff;
			border: solid 1px;
			padding: 7px;
			position: relative;
			background: #2d2d2d;
		}
			.copyrightBlog p .svg-inline--fa{
				color: #87c0c8;
			}

/* GERAIS */
	.pg{

	}

		.pg section .tituloBlog{
				font-family: 'Montserrat', sans-serif;
				border-bottom: solid 3px #676767;
				margin-top: 50px;
			}
				.pg section .tituloBlog h6{
					color: #676767;
					font-size: 20px;
				}
		.newllslatterBottom{
			font-family: 'Montserrat', sans-serif;
			background: #87c0c8;
			text-align: center;
			padding: 25px 10px;
		    margin-top: 100px;
		}
			.newllslatterBottom p{
				text-align: center;
				color: #fff;
				font-size: 26px;
				max-width: 1031px;
				margin: 0 auto 30px;
				font-weight: 500;
			}
			.newllslatterBottom .formNews{

			}
				.newllslatterBottom  .formNews input[type="text"]{
					border: none;
					padding: 10px;
					display: inline-block;
					width: 100%;
					max-width: 317px;
					height: 34px;
				    margin: 0 5px;
				    outline: none;
				    color: #87c0c8;
				    font-size: 15px;
	
				}
					/* Chrome, Safari, Opera */
					.newllslatterBottom  .formNews input[type="text"]::-webkit-input-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* Firefox 18- */
					.newllslatterBottom  .formNews input[type="text"]:-moz-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* Firefox 19+ */
					.newllslatterBottom  .formNews input[type="text"]::-moz-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* IE10+ */
					.newllslatterBottom  .formNews input[type="text"]:-ms-input-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}
				.newllslatterBottom  .formNews input[type="submit"]{
					border: solid 2px;
					display: inline-block;
					width: 90px;
					height: 34px;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 12px;
					border-color: #fff;
					color: #fff;
					background: transparent;
				}
				.newllslatterBottom  .formNews input{
					outline: none;
				}
	.verMais{
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-bottom: 100px;
		margin-top: 65px;
	}
			
		.verMais a{

			border: solid 2px #87c0c8;
			padding: 8px 20px;
			font-size: 17px;
			font-weight: 600;
			color: #87c0c8;
			text-decoration: none;
		}
			.verMais a:hover{
				color:#fff; 
				background:#87c0c8; 
			}

	    .pg .verMais{
	    	margin: 70px 0;

	    }
		  
				.pg .verMais p{
					margin: 0;
				}


/* PÁGINA INICIAL */
	.pg-inicialBlog{
		font-family: 'Montserrat', sans-serif;
		padding-top: 90px;

	}
		.pg-inicialBlog .newllslatter{
			background: #d9d9d8;
			min-height: 80px;
			margin-bottom: 80px;
		    padding-top: 50px;
		
		}
			.pg-inicialBlog .newllslatter .row{
				max-width: 1188px;
				margin: 0 auto;

			}
			.pg-inicialBlog .newllslatter .info{

		
			}
				.pg-inicialBlog .newllslatter .info p{
					color: #8a9ba8;
					font-weight: bold;
					font-size: 15px;
					text-align: right;
					padding: 0 10px;
		
				}
			.pg-inicialBlog .newllslatter .formNews{
			    padding-top: 5px;
	
			}
				.pg-inicialBlog .newllslatter .formNews input[type="text"]{
					border: none;
					padding: 10px;
					display: inline-block;
					width: 40%;
					height: 34px;
				    margin: 0 5px;
				    outline: none;
				    color: #8a9ba8;
				    font-size: 15px;
	
				}
					/* Chrome, Safari, Opera */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]::-webkit-input-placeholder{
						color: #8a9ba8;
						font-size: 15px;
					}

					/* Firefox 18- */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]:-moz-placeholder{

					}

					/* Firefox 19+ */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]::-moz-placeholder{
						color: #8a9ba8;
						font-size: 15px;
					}

					/* IE10+ */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]:-ms-input-placeholder{

					}
				.pg-inicialBlog .newllslatter .formNews input[type="submit"]{
					border: solid 2.5px;
					display: inline-block;
					width: 90px;
					height: 34px;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 12px;
					border-color: #8a9ba8;
					color: #8a9ba8;
				}
				.pg-inicialBlog .newllslatter .formNews input{
					outline: none;
				}
		.pg-inicialBlog .carrosselTopoBlog{

	
		}
			.pg-inicialBlog .carrosselTopoBlog .item{

		
			}
				.pg-inicialBlog .carrosselTopoBlog .item figure{
					display: block;
					width: 100%;
			
				}
					.pg-inicialBlog .carrosselTopoBlog .item figure img{
						width: 100%;
				
					}
	.pg-inicialBlog .sessaoCategorias{
		
	}
		.pg-inicialBlog .sessaoCategorias .tituloBlog{
			padding: 10px;
		}
			.pg-inicialBlog .sessaoCategorias .tituloBlog h6{
				
			}
	.pg-inicialBlog .carrosselCategoriaBlog{
		margin-top: 50px;
		margin-bottom: 50px;
	}
		.pg-inicialBlog .carrosselCategoriaBlog .item{
			
		}
			.pg-inicialBlog .carrosselCategoriaBlog .item a{
				text-decoration: none;
			}	
				.pg-inicialBlog .carrosselCategoriaBlog .item a img{
					border: solid transparent 7px;
				}
					.pg-inicialBlog .carrosselCategoriaBlog .item a img:hover{
						border-color: #87c0c8;

					}					


	 .postHomeBlog{
		margin-top: 50px;
	}
		 .postHomeBlog ul{
			padding: 0;
			list-style: none;
			text-align: center;
		}
			 .postHomeBlog ul li{
			 	display: inline-block;
			 	width: 100%;
			 	max-width: 319px;
			 	margin: 0 29px 20px;
			 	vertical-align: top;

				
			}
				 .postHomeBlog ul li:hover{
					
				}
				 .postHomeBlog ul li a{
					text-decoration: none;
				}
					 .postHomeBlog ul li a img{
						display: block;
						width: 100%;
						max-width: 319px;
						
						max-height: 146px;
					}
					 .postHomeBlog ul li a div{
						border: solid transparent 6px;
						border-top: none;
						padding: 15px;
					}
						 .postHomeBlog ul li a:hover div{
							border-color:#87c0c8;
						}
						 .postHomeBlog ul li a div span{
							color: #64a3ac;
							display: block;
							
							font-weight: 600;
							font-size: 15px;
							font-style: italic;
						}
						 .postHomeBlog ul li a div h2{
							color: #4b4a4b;
						    font-size: 20px;
						}
						 .postHomeBlog ul li a div p{
							color: #4b4a4b;
							font-weight: 500;
							font-size: 12px;
						}
	.pg-inicialBlog .areaCategoria{
		margin-top: 50px;
		margin-bottom: 50px;
	}
		.pg-inicialBlog .areaCategoria nav{
		
		}
			.pg-inicialBlog .areaCategoria nav .nav{
				border: none;
				text-align: center;
			}
				.pg-inicialBlog .areaCategoria nav .nav a{
					color: #676767;
					font-size: 17px;
					font-weight: 500;
					text-decoration: none;
					border-bottom: solid 2px;
					margin: 0;
					padding-bottom: 9px;


				}
					.pg-inicialBlog .areaCategoria nav .nav a h3{
						margin: 10px 0;
						padding: 6px 2%;
						display: inline-block;
						font-size: 17px;
						font-weight: 500;
					}
					.pg-inicialBlog .areaCategoria nav .nav a.active{
						color: #87c0c8;
					}
		.pg-inicialBlog .areaCategoria .tab-content{
		
		}
			.pg-inicialBlog .areaCategoria .tab-content .tab-pane{
			    margin-top: 25px;
			}
						

/* PÁGINA CATEGORIAS */
	.pg-categorias {
		padding-top: 90px;
		font-family: 'Montserrat', sans-serif;
	}
		.pg-categorias .sessaoBannerDestaque{
			position: relative;

		}
			.pg-categorias .sessaoBannerDestaque h6{

		}
			.pg-categorias .sessaoBannerDestaque .bannerDestaque{

		}
				.pg-categorias .sessaoBannerDestaque .bannerDestaque img{
					display: block;
					width: 100%;
					max-width: 100%;
   					height: auto;
   					max-height: 470px;


 				}
	    		

		.pg-categorias .conteudos{
			padding: 11px;



		}
			.pg-categorias .conteudos .tituloPost{
				border-bottom: solid 3px #676767;
				margin-top: 50px;


		    }

				.pg-categorias .conteudos .tituloPost h6{
					color: #676767;
					font-size: 20px;
					text-align: left;

			    }	
			
		.pg-categorias .conteudos ul {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;

			}
				.pg-categorias .conteudos ul li{
					display: inline-block;
					width: 100%;
					max-width: 330px;
				    min-height: 90px;
				    margin: 30px 20px;

				}
				
				.pg-categorias .conteudos ul li .conteudo .post{

				}
					.pg-categorias .conteudos ul li .conteudo .post a{
						text-decoration: none;


					}
						.pg-categorias .conteudos ul li .conteudo .post a .imagem{

						}
							.pg-categorias .conteudos ul li .conteudo .post a .imagem img{
								display: block;
			    			    width: 100%;
			   				    height: auto;
			   				    
							}

						.pg-categorias .conteudos ul li .conteudo .post a .texto{
							text-align:center;

						}
 							.pg-categorias .conteudos ul li .conteudo .post a  .texto p{
								color: #46a2ae;
								font-size: 13px;
							    font-style: italic;
							    margin: 6px 0;

							}
							.pg-categorias .conteudos ul li .conteudo .post a  .texto h6{
								font-size: 20px;
								color: #4a4544;

							}

/* PÁGINA POST */
	.pg-postBlog {
		padding-top: 90px;
		font-family: 'Montserrat', sans-serif;
	}
		.pg-postBlog .sessaoBannerDestaque{
			position: relative;

		}
			.pg-postBlog .sessaoBannerDestaque h6{

		}
			.pg-postBlog .sessaoBannerDestaque .bannerDestaque{

		}
				.pg-postBlog .sessaoBannerDestaque .bannerDestaque img{
					display: block;
					width: 100%;
					max-width: 100%;
   					height: auto;
   					max-height: 470px;


 				}

	    .pg-postBlog .tituloPrincipal{
	    	    position: absolute;
			    left: 50%;
			    transform: translateX(-50%);
			    transform:translateX(-50%);
				-webkit-transform:translateX(-50%);
				-moz-transform:translateX(-50%);
				-o-transform:translateX(-50%);
			    bottom: -55px;
			    background: #272424;
			    width: 100%;
			    max-width: 680px;
			    min-height: 220px;
			    color: #ffffff;
			    text-align: center;
			    padding: 30px;


		}

		.pg-postBlog .tituloPrincipal .texto{
	    	width: 100%;
			max-width: 520px;
			display: block;
		    margin: 0 auto;

		}
			.pg-postBlog .tituloPrincipal .texto h6{
				font-size: 40px;
				margin-bottom: 10px;

			}
			.pg-postBlog .tituloPrincipal .texto p{	
				margin: 10px 0 10px;		
				font-size: 15px;


		    }
		    .pg-postBlog .tituloPrincipal .texto .icone{
		    	display: block;
		    	margin: 0 auto;
				width: 100%;
			    background: #7ac3cc;
				font-size: 39px;
				border-radius: 53px;
			    max-width: 53px;
			    min-height: 52px;
			    margin-top: 35px;

			}
				.pg-postBlog .tituloPrincipal .texto .icone i{
					color: #fff;
				}

        .pg-postBlog .conteudos {
        	margin-top: 105px;


		}
        .pg-postBlog .conteudos .conteudo{
			margin: 0 auto;
			max-width: 920px;

		

		}
			.pg-postBlog .conteudos .conteudo .tituloPost{
				text-align: center;
				margin-bottom: 30px;
				

			}
				.pg-postBlog .conteudos .conteudo .tituloPost h4{
					color: #676767;
					font-size: 30px;
				}
			

			.pg-postBlog .conteudos .conteudo .post{
				text-align: justify;
		   }
				.pg-postBlog .conteudos .conteudo .post .imagem{ 
					margin-bottom: 40px;
			   		margin-right: 15px;

				}
					.pg-postBlog .conteudos .conteudo .post .imagem img{
						display: block;
			    	    width: 100%;
			    	    max-width: 380px;
			   		    height: auto;

					}

					.pg-postBlog .conteudos .conteudo .post .descricaoImagem{
						margin: 20px ;
					}

	            .pg-postBlog .conteudos .conteudo .post .texto{
	            	padding: 5px;
    				margin: 10px;
				} 
				   .pg-postBlog .conteudos .conteudo .post .texto p{

					font-size: 16px;
					margin-bottom: 34px;

				   }
				    .pg-postBlog .conteudos .conteudo .post .texto .imagemPost{
				    	display: block;
						width: 100%;
						min-height: 340px;
						margin-bottom: 21px;
    					margin-top: 100px;
				   } 

				   .pg-postBlog .conteudos .conteudo .post .texto .imagemPost img{
				   	    width: 100%;

						
     				}
					
		   
			.pg-postBlog .conteudos .conteudo .post .assinaturaPost {
				display: block;
				width: 100%;
				max-width: 500px;
				text-align: center;
			    margin: 100px auto;

		    }
			   	.pg-postBlog .conteudos .conteudo .post .assinaturaPost .imagemAutor{

				}
				   .pg-postBlog .conteudos .conteudo .post .assinaturaPost .imagemAutor img{
				   		display: block;
				   		margin: 0 auto;
				   		min-height: 100px;
				   		max-width: 229px;
				   		border-radius: 100%;

				   }
				.pg-postBlog .conteudos .conteudo .post .assinaturaPost .descricao{
						
				}
				
					.pg-postBlog .conteudos .conteudo .post .assinaturaPost .descricao h6{
						font-size: 22px;
					}
				
					.pg-postBlog .conteudos .conteudo .post .assinaturaPost .descricao p{
						font-size: 15px;
						color: #7ac3cc;
					}

				.pg-postBlog .conteudos .conteudo .post .assinaturaPost .borda {
				    background: #272424;
				    width: 100%;
				    height: 4px;
				    max-width: 94px;
				    margin: 40px auto;
				    border-radius: 10px;

				}

			.pg-postBlog .conteudos .conteudoRelacionado{
					padding: 20px;
		    }

		    	.pg-postBlog .conteudos  .conteudoRelacionado {

			  	}
			  		.pg-postBlog .conteudos   .conteudoRelacionado .titulo{
			  			border-bottom: solid 3px #676767;
						margin-top: 50px;

			  		}
					.pg-postBlog .conteudos  .conteudoRelacionado  .titulo h6{

						color: #676767;
						font-size: 20px;
				    }

			  		.pg-postBlog .conteudos .conteudoRelacionado .post{
					    margin-top: 50px;
					    text-align: center;
					    width: 100%;
					    margin: 50px auto;
					    max-width: 500px;
			        }

			  		.pg-postBlog .conteudos  .conteudoRelacionado  .post .imagemPost{

			        }

				  		.pg-postBlog .conteudos  .conteudoRelacionado .post .imagemPost img{
							display: block;
							width: 100%;
							 max-height: 242px;
				        }

				    .pg-postBlog .conteudos .conteudoRelacionado  .post .descricaoPost{

			        }
				        .pg-postBlog .conteudos .conteudoRelacionado  .post .descricaoPost p{

				        	color: #46a2ae;
							font-size: 13px;
							font-style: italic;
							margin: 6px 0;

				        }
					        .pg-postBlog .conteudos  .conteudoRelacionado .post .descricaoPost h6{
								font-size: 20px;
								color: #4a4544;

					        }

/* PÁGINA PESQUISA */
	.pg-pesquisa {
		padding-top: 90px;
		font-family: 'Montserrat', sans-serif;
	}

		.pg-pesquisa .conteudos {
			font-family: 'Montserrat', sans-serif;
		
		}
			.pg-pesquisa .conteudos  .tituloPesquisa h6{
				font-size: 30px;
				text-align: center;


			}

			.pg-pesquisa .conteudos ul {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;


			}
			.pg-pesquisa .conteudos ul li{
				display: inline-block;
				width: 100%;
				max-width: 330px;
				min-height: 90px;
				margin: 30px 20px;

			}
				
				.pg-pesquisa .conteudos ul li .conteudo .post{					


				}
					.pg-pesquisa .conteudos ul li .conteudo .post a{
						text-decoration: none;


					}
						.pg-pesquisa .conteudos ul li .conteudo .post a .imagem{

						}
							.pg-pesquisa .conteudos ul li .conteudo .post a .imagem img{
								display: block;
			    			    width: 100%;
			   				    height: auto;
			   				    
							}

						.pg-pesquisa .conteudos ul li .conteudo .post a .texto{
							text-align:center;

						}
 							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto p{
								color: #46a2ae;
								font-size: 13px;
							    font-style: italic;
							    margin: 6px 0;

							}
							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto h6{
								font-size: 20px;
								color: #4a4544;

							}
				
				.pg-pesquisa .conteudos .conteudo .verMais{

			    }
				    .pg-pesquisa .conteudos .conteudo .verMais a{

				    }
				    	.pg-pesquisa .conteudos .conteudo .verMais p{

				   		}			
				
				.pg-pesquisa .conteudos .conteudo .newslleter{

			    }
			    	.pg-pesquisa .conteudos .conteudo .newslleter .noticia{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h5{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h7{

			   			}
					.pg-pesquisa .conteudos .conteudo .newslleter .noticia .enviar{

			   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="text"]{

				   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="submit"]{

				   		}

/* EXTRAS */

    .slick-slide {
      margin: 0;
    }

    .slick-slide img {
      width: 100%;
    }

	 .slick-slide{
		position: relative;
		margin-top: 10px;
		transition:All 1s ;
		-webkit-transition:All 1s ;
		-moz-transition:All 1s ;
		-o-transition:All 1s ;
		
	 } 
	 	.slick-slide img{
			max-height: 430px;
			transition:All 1s ;
			-webkit-transition:All 1s ;
			-moz-transition:All 1s ;
			-o-transition:All 1s ;

		} 
	.slick-active.slick-center{
	    margin-top: -10px;
	    transition:All 1s ;
	    -webkit-transition:All 1s ;
	    -moz-transition:All 1s ;
	    -o-transition:All 1s ;
 	}
 	.slick-active.slick-center img{
 		max-height: 462px;
 		transition:All 1s ;
 		-webkit-transition:All 1s ;
 		-moz-transition:All 1s ;
 		-o-transition:All 1s ;
	    
 	}
	 .slick-slide:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #00000078;
 
	 }
	 .slick-active.slick-center:before{
		background: transparent;
	 }
    .slick-current {
      opacity: 1;
     width: 100%;
    }
    .containerCorrecaoX{
    	max-width: 1370px;
    	margin: 0 auto;
    }

/* @MEDIA */
@media(max-width: 1200px){
	.container{
		width: 100%;
	}
	
}
@media(max-width: 991px){
  .rodapeBlog .menuRodape {
		max-width: 560px;
		margin: 40px auto 0;
	}
	.rodapeBlog .menuRodape .nav ul{
		text-align: center;
	}
	.rodapeBlog .menuRodape .nav strong{
		text-align: center;
	}
	.postHomeBlog ul li{
		margin: 0 0 20px;
	}
	.postHomeBlog{
		padding: 10px;
	}
	.newllslatterBottom .formNews input[type="text"]{
		margin: 7px 5px;
	}
	.pg-inicialBlog .newllslatter .formNews input[type="text"]{
		width: 100%;
		margin: 10px auto;
	}
	.pg-inicialBlog .newllslatter .formNews{
		padding: 10px;
	}
	.pg-inicialBlog .newllslatter .info p{
		text-align: center;
	}
	.pg section .tituloBlog h6{
		text-align: center;
	}

	.pg-postBlog .conteudos .conteudo {
		width: 100%;
	    padding-left: 20px;
    }
  	.pg-postBlog .conteudos .conteudoRelacionado {
    	padding: 20px;
    }
	.pg-postBlog .conteudos .conteudoRelacionado .post{
	    max-width: 424px;
    	margin: 50px auto;

	}
	.pg-postBlog .conteudos .conteudo .post .imagem img{
		margin: 50px auto;
	}

    .pg-postBlog .conteudos .conteudoRelacionado {
    padding: 20px;
    }
    .pg-postBlog .conteudos .conteudo .post .texto .imagemPost{
    	margin: 0;
    	min-height: 124px;
    }
    .pg-pesquisa .conteudos {
    padding: 25px;
    }

    .pg-categorias .conteudo .conteudo {
		width: 100%;
	    padding-left: 20px;
    }
  	.pg-categorias .conteudos ul li{
    	width: 100%;
    	margin: 20px auto;
    }
	.pg-categorias .conteudo .post{
	    

	}

}

@media(max-width: 768px){
	.pg-postBlog .tituloPrincipal {
		
    position: initial;
    left: initial;
    transform: initial;
    transform: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    bottom: initial;
    background: #272424;
    width: 100%;
    max-width: 100%;
    min-height: 220px;
    color: #ffffff;
    text-align: center;
    padding: 30px;
	}
  
}
